version: '2'

services:
  nginx:
      image: liufee/nginx
      container_name: nginx
      build:
          context: ./nginx
          args:
              - NGINX_VER=1.12.2
      ports:
          - 80:80
          - 443:443
      links:
          - php-fpm
      depends_on:
          - php-fpm
          - java
      networks:
          - public
      volumes:
          - ./nginx/conf:/etc/nginx
          - ./logs/nginx:/var/log/nginx
          - ./nginx/www:/www

  php-fpm:
      image: liufee/php
      container_name: php-fpm
      build:
          context: ./php
          args:
              - PHP_VER=7.1.12
      ports:
          - 9000:9000
      links:
          - mysql
      depends_on:
          - mysql
      networks:
          - public
      volumes:
          - ./logs/php-fpm:/usr/local/php/var/log
          - ./nginx/www:/www

  mysql:
      image: liufee/mysql
      container_name: mysql
      build:
          context: ./mysql
      environment:
          - MYSQL_PASSWORD=123456
      ports:
          - 3306:3306
      networks:
          - public
      volumes:
          - ./logs/mysql:/var/log/mysql
          - ./mysql/data:/data/mysql
  java:
      image: liufee/java
      container_name: java
      build:
          context: ./java
      environment:
          - MYSQL_HOST=mysql
          - MYSQL_PORT=3306
          - MYSQL_USERNAME=root
          - MYSQL_PASSWORD=123456
          - DATABASE=test
          - LISTEN_PORT=8082
      ports:
      - 8082:8082
      volumes:
      - /www:/www
      command: [/usr/local/java/bin/java, -jar, /www/app/app.jar]
      depends_on:
      - mysql
      networks:
      - public

  node:
      image: liufee/node
      container_name: node
      build:
          context: ./node
          args:
            - NODE_VER=8.11.4
      environment:
          - NODE_ENV=prod
          - LISTEN_PORT=3000
      ports:
        - 3000:3000
      links:
        - mysql
      depends_on:
        - mysql
      networks:
        - public
      volumes:
        - /www:/www
      working_dir: /www/node/koa
      command: [/usr/local/node/bin/node, /www/node/koa/app.js]

networks:
  public:
      driver: bridge
